<%
  container_types = JSONModel.enum_values("container_type") if container_types.blank?
  instance_types = JSONModel.enum_values("instance_instance_type").reject{|v| v == "digital_object"} if instance_types.blank?
%>
  <link href="<%= "#{AppConfig[:frontend_prefix]}assets/bulk_create_containers.css" %>" media="all" rel="stylesheet" type="text/css"/>
  <div id="add-containers-dropdown" class="btn-group dropdown" data-no-change-tracking="true" data-add-containers-url="<%= url_for(:controller => :bulk_create_containers, :action => :create, :record_uri => record.uri, :record_type => record.jsonmodel_type, :instance_type => "${instance_type}", :container_type => "${container_type}", :container_start => "${container_start}", :container_end => "${container_end}")  %>">
    <a class="btn btn-sm btn-default dropdown-toggle add-containers-action" data-toggle="dropdown" href="#" title="<%= I18n.t("plugins.bulk_create_containers.actions.add_containers") %>">
      <%= I18n.t("plugins.bulk_create_containers.actions.add_containers") %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu add-containers-form open-aligned-right">
      <li>
        <%= form_context :add_containers, {} do |form| %>
          <fieldset>
            <div class="form-group required">
              <label class="col-sm-4 control-label"><%= I18n.t("plugins.bulk_create_containers.labels.instance_type") %></label>
              <div class="col-sm-8">
                <%= select_tag("add_containers_instance_type", options_for_select([""].concat(instance_types.map{| instance_type| [I18n.t("enumerations.instance_instance_type.#{instance_type}", :default => instance_type), instance_type]})), {:class => "form-control"}) %>
                <span id="instance_type_error"><%= I18n.t("plugins.bulk_create_containers.messages.instance_type_error") %></span>
              </div>              
            </div>
            <div class="form-group required">
              <label class="col-sm-4 control-label"><%= I18n.t("plugins.bulk_create_containers.labels.container_type") %></label>
              <div class="col-sm-8">
                <%= select_tag("add_containers_container_type", options_for_select([""].concat(container_types.map{|container_type| [I18n.t("enumerations.container_type.#{container_type}", :default => container_type), container_type]})), {:class => "form-control"}) %>
                <span id="container_type_error"><%= I18n.t("plugins.bulk_create_containers.messages.container_type_error") %></span>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-4 control-label"><%= I18n.t("plugins.bulk_create_containers.labels.container_start") %></label>
              <div class="col-sm-8">
                <input id="add_containers_container_start" type="number" step="1" min="1" name="container_start" placeholder="Start" class="form-control"/>
                <span id="container_start_error"><%= I18n.t("plugins.bulk_create_containers.messages.container_start_error") %></span>
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-4 control-label"><%= I18n.t("plugins.bulk_create_containers.labels.container_end") %></label>
              <div class="col-sm-8">
                <input id="add_containers_container_end" type="number" step="1" min="2" name="container_end" placeholder="End" class="form-control"/>
                <span id="container_end_error"><%= I18n.t("plugins.bulk_create_containers.messages.container_end_error") %></span>
                <span id="container_range_order_error"><%= I18n.t("plugins.bulk_create_containers.messages.container_range_order_error") %></span>
                <span id="container_range_size_error"><%= I18n.t("plugins.bulk_create_containers.messages.container_range_size_error") %></span>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <button class="btn add-containers-button pull-left"><%= I18n.t("plugins.bulk_create_containers.actions.add_containers") %></button>
            <a class="btn btn-close pull-right" href="#"><%= I18n.t("actions.cancel") %></a>
          </div>
        <% end %>
      </li>
    </ul>
  </div>

  <script src="<%= "#{AppConfig[:frontend_prefix]}assets/bulk_create_containers.js" %>"></script>